body {
	background-color: #f6f6f6;
}
.container {
	width: 1013px;
	height: 503px;
	border: 1px solid #d7d7d7;
	background-color: #ffffff; 
 position: center;
 margin: auto;
 margin-top: auto;
 margin-bottom: auto;
}
.text {
 display: inline-block;
 width: 394px;
 height: 328px;
}

.image {
	display: inline-block;
 width: 376px;
 height: 375px;
 margin: 65px 98px 65px 49px;
}
button {
	width: 254px;
 height: 52px;
 background-color: #ec744a;
 border: none;
 color: #ffffff;
 font-family: "Arial MT";
 font-size: 19px;
 font-weight: 400;
}

h1 {
	color: #2f2f2f;
	font-family: "Arial - Bold MT";
	font-size: 23px;
	font-weight: 400;

}

.price {
	color: #2f2f2f;
	font-family: "Arial MT";
	font-size: 30px;
	font-weight: 400;
}

.pricetext {
	color: #2f2f2f;
 font-family: "Arial MT";
 font-size: 15px;
 font-weight: 400;
}

.text_headphone {
	margin-bottom: 50px;
 }

.pricetext {
	margin-bottom: 20px;
}

.price {
	margin-bottom: 50px;
}